@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  overflow-x: hidden;
}

a:link, a:visited {
  color: #283D3D;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3edea;
  line-height: 1.7;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

.title {
  font-family: 'Permanent Marker', cursive;
  text-align: left;
}

header {
  height: 100vh;
  color: #f3edea;
  background: url(../assets/images/forest_dark.png) no-repeat center center fixed;
}

header .picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .picture img {
  width: 300px;
}

header .hero {
  padding-top: 100px;
  width: 90%;
  height: 80vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .hero .type-container {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .hero .typewriter {
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid orange;
  /* The typwriter cursor */
  letter-spacing: .1em;
  /* Adjust as needed */
  font-size: 2em;
  font-weight: 700;
  -webkit-animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

header .hero h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4.5rem;
  text-align: center;
}

header .hero .neon {
  color: #fff;
  text-shadow: 0 0 40px #0d9292, 0 0 80px #0d9292, 0 0 90px #0d9292, 0 0 100px #0d9292, 0 0 150px #0d9292;
}

.about {
  margin: auto;
  margin-top: 50px;
  width: 80%;
}

.about p {
  text-align: center;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: 80%;
}

.skills-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

.skills-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 21%;
          flex: 1 0 21%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80px;
  margin: 30px 40px;
}

.skills-container ul li p {
  margin-top: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.skills-container ul .svg-inline--fa {
  font-size: 80px;
}

.skills-container ul .svg-inline--fa:hover {
  color: #699;
}

.portfolio {
  margin: auto;
  margin-top: 50px;
  width: 80%;
}

.portfolio .portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio .portfolio-item {
  margin-top: 40px;
  width: 400px;
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .portfolio-item p {
  text-align: center;
}

.portfolio .portfolio-item img {
  width: 100%;
}

.portfolio .portfolio-item .preview-source {
  font-size: .8em;
  text-align: center;
}

.portfolio .portfolio-item p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact-container {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 80%;
}

.contact-container .contact-items {
  padding-top: 10px;
  margin: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer {
  font-size: .8em;
  margin-top: 40px;
  text-align: center;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Desktop menu */
@media all and (min-width: 800px) {
  .wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  .menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background: none;
  }
  .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .toggle {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */